
$toolbar-border-color: #c0c0c0;

ul.graph-toolbar {
	
	float: right;
	list-style-type: none;	
	marign: 0;
	padding: 0;

	li {
		text-indent: 0;
		border: 1px solid $toolbar-border-color;
		border-top: none;
		background-color: #fefefe;
		height: 20px;
		width: 20px;
		overflow: hidden;
		cursor: pointer;

		svg {
			width: 20px;
			height: 20px;
			display: block;
		}
	}

	li:first-child {
		border-top: 1px solid $toolbar-border-color
	}

	li.selected {
		background-color: #f0f0f0;
	}
}

.graph-linkingline {
	stroke: rgba(51, 156, 48, 1);
	stroke-width: 2px;
}


/*.hover {
	fill: rgba(51, 156, 48, 0.4);
	stroke: rgba(51, 156, 48, 0.8);
}
*/
g[data-groupname="nmrintegral"] .hover {
	fill: transparent;
}