.periodic-table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -2px;
    min-width: 118em;
    min-height: 50em;
    font-size: 10px;
    width: 100%;
    height: 100%;
}
.periodic-table > * {
    flex: 0 0 auto;
    width: calc((100% / 19) - 2px);
    margin-left: 2px;
    display: block;  /* IE fix */
    border: 2px solid grey;
    min-height: 6em;
    min-width: 6em;
    padding: 2px;
    margin-bottom: 2px;
}

.indic-g, .indic-p, .indic-f {
    justify-content: center;
    align-items: center;
    border:none;
}

.indic-p {
    justify-content: flex-end;
}

.indic-g {
    align-items: flex-end;
}

/* deco */
.periodic-table * {
    box-sizing: border-box;
}

/*[class*="table"] > div,*/
/*[class*="simple"] > div {*/
    /*margin-bottom: 2px;*/
/*}*/

.e2 {
    margin-left: calc(100% / 19 * 5);
}

.e5, .e13 {
    margin-left: calc(100% / 19 * 10 + 2px);

}
/*.e72, .e104 {
    margin-left: calc(100% / 18 + 2px);
}*/
.e57, .e89 {
    margin-left: calc(100% / 19 * 4 + 2px);
}
.period1 {
    order: 1;
}
.period2 {
    order: 2;
}
.period3 {
    order: 3;
}
.period4 {
    order : 4
}
.period5 {
    order : 5
}
.period6 {
    order : 6
}
.period7 {
    order : 7
}
.block-f {
    order: 8;
}

.period6.block-f {
    margin-top: 2em;
}

.element, .indic-g, .indic-p, .indic-f {
    display: flex;
}
.element-data {
    width: 80%;
}
.electronsPerPeriod {
    width: 20%;
}
.element-name {
    font-size: 1.8em;
    padding: 0.2em 0 0.3em 0;
}
.element-name abbr {
    border-bottom: dotted grey 1px;
}
/* info : delay too long */
.element-name abbr:hover {
    border-bottom: none;
}
.element-data p {
    overflow : hidden;
    text-overflow : ellipsis;
    white-space: nowrap;
}
.element .electronsPerPeriod {
    margin: 0;
    padding:0;
    font-size: 0.7em;
}
.element li {
    list-style : none;
}

.elec-conf:hover .elec-conf-short, .elec-conf .elec-conf-long {
    display: none;
}
.elec-conf:hover .elec-conf-long {
    display:block;
}

.legend {
    background-color: grey;
    order:1;
    margin-left: calc(100% / 19 + 2px);
    width: calc(100% / 19 * 10 - 2px);
    margin-bottom: calc(-12em - 2px);
    display:flex;
}

.element-zoom {
    border: 1px solid #000;
    flex: 1 0 auto;
}
.element-datas {
    flex: 2 0 auto;
}


















.alkali {
    background-color:rgba(206, 58, 90, 0.6);
}
.alkaline {
    background-color:rgba(228, 109, 10, 0.6);
}
.transition {
    background-color: rgba(255, 192, 0, 0.6);
}
.poor {
    background-color: rgba(117, 146, 60, 0.6);
}
.metalloid {
    background-color: rgba(49, 132, 155, 0.6);
}
.nonmetal {
    background-color: rgba(0, 112, 192, 0.4);
}
.halogen {
    background-color: rgba(23, 55, 93, 0.6);
}
.noble {
    background-color: rgba(112, 48, 160, 0.6);
}

.lanthanoid {
    background-color: rgba(148, 139, 84, 0.6);
}
.actinoid {
    background-color: rgba(178, 161, 199, 0.6);
}


/*grey : #5A5A5A*/
/*light-blue-1 : #00B0F0*/
/*green : #75923C*/
/*blue : #0070C0*/
/*pink : #CE3A5A*/
/*dark-red : #953735*/
/*dark-blue : #17375D*/
/*dark-petrol : #0F4E57*/
/*petrol : #31849B*/
/*light-green : #00A442*/
/*orange : #E46D0A*/
/*light-brown : #948B54*/
/*purple : #7030A0*/
/*red : #C00000*/
/*yellow : #FFC000*/
/*light-purple : #B2A1C7*/
/*light-blue-2 : #93CDDD*/