.periodic-table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -5px;
    min-width: 600px;
    min-height: 550px;
    font-size: 10px;
}
.periodic-table > * {
    flex: 0 0 auto;
    width: calc((100% / 18) - 5px);
    margin-left: 5px;
    display: block;  /* IE fix */
}

.periodic-table > .block-f {
    width: calc((100% / 18) - 5px);
}

/* deco */
.periodic-table * {
    box-sizing: border-box;
}

[class*="table"] > div,
[class*="simple"] > div {
    margin-bottom: 10px;
}

.e2 {
    margin-left: calc(100% / 18 * 16 + 5px);
}

.e5, .e13 {
    margin-left: calc(100% / 18 * 10 + 5px);

}
.e72, .e104 {
    margin-left: calc(100% / 18 + 5px);
}
.e57, .e89 {
    margin-left: calc(100% / 18 * 2 + 5px);
}

.block-f {
    order: 1;
}

/*.per-table {*/
    /*display:flex;*/
    /*flex-wrap :wrap;*/
    /*width: 100%;*/
/*}*/
/*.per-table * {*/
    /*box-sizing : border-box;*/
/*}*/
/*.per-table > * {*/
    /*width: calc(100% / 18);*/
/*}*/



/*.element {*/
    /*font-size:20px*/
/*}*/
/*/!*div.element {*!/*/
    /*/!*padding: 1em;*!/*/
    /*/!*display:flex;*!/*/
/*}*/
/*.element .electronsPerPeriod {*/
    /*width: 20%;*/
/*}*/
/*.element .element-data {*/
    /*width: 80%;*/
/*}*/
/*.element-name {*/
    /*font-size: 2.5em;*/
    /*padding-bottom: 0.3em;*/
/*}*/
/*.element .Z {*/
    /*font-size: 1.4em;*/
/*}*/

.element-name abbr {
    border-bottom: dotted grey 0.05em;
}
/* info : delay too long */
.element-name abbr:hover {
    border-bottom: none;
}
.element .weight {
    overflow : hidden;
    text-overflow : ellipsis;
}
.element .electronsPerPeriod {
    margin: 0;
    padding:0;
}
.element li {
    list-style : none;
}