<!DOCTYPE html>
<html>
	<head>

		<script src="../lib/components/jquery/dist/jquery.js" type="text/javascript"></script>	
		<script src="../lib/components/graph/dist/jsgraph.js" type="text/javascript"></script>	
		<script src="../lib/components/jcampconverter/src/jcampconverter.js" type="text/javascript"></script>	
				
		<script src="../src/assignation.js" type="text/javascript"></script>	
		
		<script data-main="./cosy" src="../lib/components/requirejs/require.js" type="text/javascript"></script>
		
		

		<link href="./style.css" rel="stylesheet" />	

		<style>

			table.nmr-wrapper {
				height: 100%;
				width: 100%;
				table-layout: fixed;
			}

			table.nmr-wrapper td {
				border: none;
			}

			table svg {
				margin: 0;
				padding: 0;
			}

			td.nmr-main {
				width: 80%;
			}

			tr.nmr-main {
				height: 80%;
			}

		</style>
	</head>

	<body>
		<!--<div id="nmr" style="width: 800px; height: 700px;"></div>-->
		<div id="nmr2" style="width: 800px; height: 700px;"></div>
	<!--<div id="tools"></div>-->
	<script>

/*
	$( document ).ready( function() {
		
		var nmr = new NMRHandler({
				
			dom: $("#nmr2"),

			mode: '1d',
			url: '../lib/components/jcampconverter/data/indometacin/1h.dx'		


		});
	});
*/

	$( document ).ready( function() {
		
	
	});



	</script>

	</body>
</html>