<!DOCTYPE html>
<html>
	<head>

		<link rel="stylesheet" href="../lib/components/Aristo-jQuery-UI-Theme/css/Aristo/Aristo.css">
		<script data-main="./nmr" src="../lib/components/jquery/dist/jquery.js" type="text/javascript"></script>	
		<script data-main="./nmr2d" src="../lib/components/requirejs/require.js" type="text/javascript"></script>	
		<link href="./style.css" rel="stylesheet" />
		

		<style>

			table.nmr-wrapper {
				height: 100%;
				width: 100%;
				table-layout: fixed;
			}

			table.nmr-wrapper td {
				border: none;
			}

			table svg {
				margin: 0;
				padding: 0;
			}

			td.nmr-main {
				width: 80%;
			}

			tr.nmr-main {
				height: 80%;
			}

		</style>
	</head>

	<body>


	<div id="nmr" style="width: 800px; height: 500px;"></div>
	<div id="tools"></div>

	</body>
</html>