.ci-module-quill_editor .quill_editor {
      height: calc(100% - 40px) !important;
  }

  .ci-module-quill_editor .quill_wrapper {
    height: 100%;
    width: 100%;
    padding: 4px;
    box-sizing: border-box
  }
  