
.ci-module-dragdrop .ci-module-content {
    display: table;
}

.dragdropzone {
    width: 100%;
    height: 100%;

    vertical-align: middle;
    font-size: 26px;
    color: rgba(0, 0, 0, 0.5);
    border: 10px dashed rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    text-align: center;
    display: table-cell;
}

.dragdrop-over {
    background-color: rgba(100, 242, 100, 0.2) !important;
}