name: Node.js CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  nodejs:
    # Documentation: https://github.com/zakodium/workflows#nodejs-ci
    uses: zakodium/workflows/.github/workflows/nodejs.yml@nodejs-v1
    with:
      lint-check-types: false
      disable-test-package: true
      upload-coverage: false
      node-version-matrix: '[24]'
